<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="containner">
      <div class="box">
        <img src="/assets/aboutme.png" class="aboutmePng" />
      </div>
      <div class="box2">
       <div>
         <h1>About Me</h1>
        <hr />
        <p>
          Hello! I'm Sudeep Rai Bantawa, a passionate web developer and a dedicated student on a journey to create meaningful and engaging digital experiences.
          <h3 class="heading">
            Web Development Journey
          </h3>
          My fascination with web development began when I was introduced to the world of coding during my early college years. Since then, I've been on a relentless pursuit of knowledge, constantly learning and expanding my skill set in this dynamic field. I believe in the power of the web to connect people, inspire creativity, and solve real-world problems.
          <h3 class="heading">
            Education
          </h3>
          Currently, I'm a student pursuing software Engineering at Centinential, where I'm honing my technical skills and gaining a deep understanding of the latest web technologies. My academic journey has provided me with a strong foundation in computer science and programming principles, which I apply to my web development projects.
          <h3 class="heading">
            Passion for Web Development
          </h3>
          Web development is not just my profession; it's my passion. I thrive on the challenges that come with creating responsive, user-friendly, and visually appealing websites. Whether it's designing a sleek user interface, optimizing website performance, or troubleshooting complex coding issues, I'm always up for the task.
        </p>
        <a href="/path/to/your/pdf-file.pdf" target="_blank">Download my Resume (PDF)</a>
       </div>
      </div>
    </div>
  </body>
</html>
