<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="containner">
      <div class="box2">
        <h1 class="heading">SERVICES</h1>
        <div class="services">
          <% for(service of services){ %>
          <div class="plan">
            <div class="inner">
              <p class="title"><%=service.name%></p>
              <p class="info"><%=service.description%></p>

              <div class="action">
                <a class="button" href="#"> Choose plan </a>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
